{% extends 'layouts/navbar.html' %}
{% load pedidos_extras %}
{% block content %}
<a href="{% url 'pedidos:crear_pedido' %}">Crear Nuevo Pedido</a>
<h1>Lista de Pedidos</h1>
<table>
    <thead>
        <tr>
            <th>ID Pedido</th>
            <th>Fecha de Pedido</th>
            <th>Descripción</th>
            <th>Subtotal</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Estado del Pedido</th>
            <th>Evidencia de Pago</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.idPedido }}</td>
            <td>{{ pedido.fecha_pedido }}</td>
            <td>{{ pedido.descripcion_pedido }}</td>
            <td>{{ pedido.subtotal }}</td>
            <td>{{ pedido.iva }}</td>
            <td>{{ pedido.total }}</td>
            <td>{{ pedido.estado_pedido }}</td>
            <td>
                {% if pedido.evidencia_pago %}
                <img src="{{ pedido.evidencia_pago.url }}" alt="Evidencia de pago">
                {% else %}
                Sin evidencia de pago
                {% endif %}
            </td>
            <td>
                <a href="#" onclick="confirmarEliminar('{{ pedido.idPedido }}')">Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function confirmarEliminar(idPedido) {
        if (confirm('¿Estás seguro que deseas eliminar este pedido?')) {
            // Realizar una solicitud DELETE directamente desde JavaScript
            fetch('/pedidos/eliminar_pedido/' + idPedido + '/', {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Eliminación exitosa
                    location.reload(); // Recargar la página
                } else {
                    // Manejar errores de eliminación si es necesario
                    console.error('Error al eliminar el pedido');
                }
            })
            .catch(error => {
                console.error('Error de red:', error);
            });
        }
    }
</script>
{% endblock %}
