{% extends 'layouts/navbar.html' %}
{% load pedidos_extras %}
{% block content %}
<a href="{% url 'pedidos:crear_pedido' %}">Crear Nuevo Pedido</a>
<h1>Lista de Pedidos</h1>
<table>
    <thead>
        <tr>
            <th>ID Pedido</th>
            <th>Fecha de Pedido</th>
            <th>Descripción</th>
            <th>Subtotal</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Estado del Pedido</th>
            <th>Evidencia de Pago</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido.idPedido }}</td>
            <td>{{ pedido.fecha_pedido }}</td>
            <td>{{ pedido.descripcion_pedido }}</td>
            <td>{{ pedido.subtotal }}</td>
            <td>{{ pedido.iva }}</td>
            <td>{{pedido.total }}</td>
            <td>{{ pedido.estado_pedido }}</td>
            <td>
                {% if pedido.evidencia_pago %}
                    <img src="data:image/jpeg;base64,{{ pedido.evidencia_pago|base64_encode }}" alt="Evidencia de Pago">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}