asgiref==3.8.1
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
Django==5.0.4
django-widget-tweaks==1.5.0
django-wkhtmltopdf==3.4.0
idna==3.7
mysqlclient==2.2.4
pdfkit==1.0.0
pillow==10.3.0
reportlab==4.2.0
requests==2.31.0
shortcuts==0.11.0
six==1.16.0
sqlparse==0.5.0
toml==0.10.2
tzdata==2024.1
urllib3==2.2.1
