{% load static %}
<!-- CSS de la v0.dev IA god -->
<link rel="stylesheet" href="{% static 'css/products-preview.css' %}">
<section class="section section-last bg-default">
  <div class="container-fluidd container-inset-0 isotope-wrap">
    <div class="row row-10 gutters-10 isotope" data-isotope-layout="masonry" data-isotope-group="gallery"
      data-lightgallery="group">
      <br>
      {% for producto, tamano, clase in productos_tamanos %}
      <div class="{{ clase.class }}">
        <!-- Thumbnail Mary-->
        <article class="{{ clase.hijo }}">
          <a class="thumbnail-mary-figure" href="{% url 'home:catalogo' %}" data-lightgallery="item">
            {% if producto.imagen %}
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}" class="{{ tamano }}" />
            {% else %}
            <img src="/media/user_images/imagendefectoNoBorrar.gif" alt="{{ producto.nombre }}" class="{{ tamano }}" />
            {% endif %}
          </a>
          <div class="thumbnail-mary-caption">
            <div>
              <h6 class="thumbnail-mary-title"><a href="{% url 'home:catalogo' %}">{{ producto.nombre }}</a></h6>
              <div class="thumbnail-mary-location">{{ producto.descripcion }}</div>
            </div>
          </div>
        </article>
      </div>
      {% endfor %}
    </div>
  </div>
</section>