<section class="section section-sm bg-default">
  <div class="container">
    <div class="owl-carousel owl-style-11 dots-style-2" data-items="1" data-sm-items="1" data-lg-items="2"
      data-xl-items="4" data-margin="30" data-dots="true" data-mouse-drag="true" data-rtl="true">
      <article class="box-icon-megan wow fadeInUp">
        <div class="box-icon-megan-header">
          <center>
            <div class="box-icon-megan-icon">
              <i class="bi bi-scissors"></i>
            </div>
          </center>
        </div>
        <h5 class="box-icon-megan-title"><a href="#">Arreglos de Ropa</a></h5>
        <p class="box-icon-megan-text">Ofrecemos arreglos profesionales para todo tipo de prendas.</p>
      </article>
      <article class="box-icon-megan wow fadeInUp" data-wow-delay=".05s">
        <div class="box-icon-megan-header">
          <center>
            <div class="box-icon-megan-icon">
              <i class="bi bi-rulers"></i>
            </div>
          </center>
        </div>
        <h5 class="box-icon-megan-title"><a href="#">Ropa a la Medida</a></h5>
        <p class="box-icon-megan-text">Diseñamos y confeccionamos ropa a la medida según tus necesidades.</p>
      </article>
      <article class="box-icon-megan wow fadeInUp" data-wow-delay=".1s">
        <div class="box-icon-megan-header">
          <center>
            <div class="box-icon-megan-icon">
              <i class="bi bi-palette"></i>
            </div>
          </center>
        </div>
        <h5 class="box-icon-megan-title"><a href="#">Manualidades</a></h5>
        <p class="box-icon-megan-text">Creaciones artesanales únicas para decorar y regalar.</p>
      </article>
      <article class="box-icon-megan wow fadeInUp" data-wow-delay=".15s">
        <div class="box-icon-megan-header">
          <center>
            <div class="box-icon-megan-icon">
              <i class="bi bi-calendar-check"></i>
            </div>
          </center>
        </div>
        <h5 class="box-icon-megan-title"><a href="#">Reservas</a></h5>
        <p class="box-icon-megan-text">Puedes hacer una cita para consultas y recoger tus pedidos.</p>
      </article>
    </div>
  </div>
</section>