<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Venta</title>
</head>
<body>
    <h1>Crear Nueva Venta</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.idPedido }}
        <button type="button" onclick="buscarPedido()">Buscar</button>
        <div id="campos_adicionales" style="display:none;">
            <label for="id_total_pedido">Total del Pedido:</label>
            {{ form.total_pedido }}
            <br>
            <label for="id_metodo_pago">Método de Pago:</label>
            {{ form.metodo_pago }}
            <br>
            <label for="id_descuento">Descuento:</label>
            {{ form.descuento }}
            <br>
            <label for="id_total">Total:</label>
            {{ form.total }}
        </div>
        <button type="submit">Guardar</button>
    </form>
    <script>

        function buscarPedido() {
            var idPedido = document.getElementById("id_idPedido").value;
            window.location.href = "{% url 'ventas:crear_venta' %}?idPedido=" + idPedido;
        }
        // Mostrar campos adicionales al cargar la página
        window.onload = function() {
            var campos = document.getElementById("campos_adicionales");
            var campos2 = document.getElementById("id_metodo_pago");
            var campos3 = document.getElementById("id_descuento");
            var campos4 = document.getElementById("id_total");
            campos.style.display = "block"; // Cambiar el estilo para mostrar los campos
            campos2.style.display = "block"; // Cambiar el estilo para mostrar los campos
            campos3.style.display = "block"; // Cambiar el estilo para mostrar los campos
            campos4.style.display = "block"; // Cambiar el estilo para mostrar los campos
        };
    </script>
    
    
    
    
</body>
</html>
