

<title>Listar Ventas</title>
{% extends 'layouts/navbar.html' %}

{% load humanize %}

{% load static %}

{% block content %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ventas</h4>
                <div class="table-responsive">
                    <table id="ventasTable" class="table reserva-table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Fecha de venta</th>
                                <th>Método de pago</th>
                                <th>Total de pedido</th>
                                <th>Descuento / Aumento</th>
                                <th>Total Final</th>
                                <th>Acciones</th> <!-- Nueva columna para el botón -->

                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se generan las filas de la tabla con datos de ventas -->
                            {% for venta in ventas %}
                            <tr>
                                <td>{{ venta.fecha }}</td>
                                <td>{{ venta.metodo_pago }}</td>
                                <td class="total-pedido" data-value="{{ venta.idPedido.total }}">${{ venta.idPedido.total|floatformat:0|intcomma }}</td>
                                <td class="descuento-aumento" data-value="{{ venta.descuento }}">
                                    {% if venta.descuento > 0 %}
                                        -$ {{ venta.descuento|floatformat:0|intcomma }}
                                    {% elif venta.descuento < 0 %}
                                        $ {{ venta.descuento|floatformat:0|intcomma }}
                                    {% else %}
                                        $0
                                    {% endif %}
                                </td>
                                <td class="total-final" data-value="{{ venta.total }}">${{ venta.total|floatformat:0|intcomma }}</td>
                                <td>
                                    <a href="{% url 'ventas:generar_factura' idVenta=venta.idVenta %}" class="btn btn-info btn-sm">Generar Factura</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const rows = document.querySelectorAll('#ventasTable tbody tr');

        rows.forEach(row => {
            const totalPedido = parseFloat(row.querySelector('.total-pedido').getAttribute('data-value'));
            const totalFinal = parseFloat(row.querySelector('.total-final').getAttribute('data-value'));
            const descuentoAumentoCell = row.querySelector('.descuento-aumento');

            const difference = totalPedido - totalFinal;
            let displayValue;

            if (difference > 0) {
                displayValue = `-$${difference.toFixed(0)}`;
            } else if (difference < 0) {
                displayValue = `$${Math.abs(difference).toFixed(0)}`;
            } else {
                displayValue = '$0';
            }

            descuentoAumentoCell.textContent = new Intl.NumberFormat().format(displayValue.replace('$', '').replace('-', ''));
            if (difference > 0) {
                descuentoAumentoCell.textContent = `-$${descuentoAumentoCell.textContent}`;
            } else if (difference < 0) {
                descuentoAumentoCell.textContent = `$${descuentoAumentoCell.textContent}`;
            }
        });
    });
</script>
<!-- Modal Crear Venta -->
<div class="modal fade" id="modalCrearVenta" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Crear Nueva Venta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'ventas:crear_venta' %}">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idUsuario">Usuarios</label>
                                <select id="idUsuario" class="id_permisosEditar2" name="usuario">
                                    <option value="">Seleccione un usuario</option>
                                    {% for usuario in usuarios %}
                                    <option value="{{ usuario.id }}">{{ usuario.nombre }} - {{ usuario.documento }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="idPedido">Pedido</label>
                                <select id="idPedido" class="form-control id_permisosEditar" name="idPedido">
                                    <option value="">Seleccione un pedido</option>
                                </select>
                            </div>
                            <br>
                            <br>
                            <div class="form-group">
                                <label for="id_total_pedido">Total del Pedido</label>
                                <input type="number" id="id_total_pedido" class="form-control" name="total_pedido" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_metodo_pago">Método de Pago</label>
                                {{ form.metodo_pago }}
                            </div>
                            <div class="form-group">
                                <label for="id_descuento_aumento">Descuento/Aumento</label>
                                <div class="input-group">
                                    {{ form.descuento_aumento_type }}
                                    {{ form.descuento_aumento_value }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="id_total">Total</label>
                                <input type="number" id="id_total" class="form-control" name="total" readonly>
                            </div>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary mr-2">Guardar</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% if abrir_modal %}
<script>
    $(document).ready(function() {
        $('#modalCrearVenta').modal('show');
    });
</script>
{% endif %}

<script>
    $(document).ready(function () {
        $('.select2').select2({
            placeholder: 'Selecciona el usuario',
            // theme: "classic",
            width: '100%', // Opcional: establece el ancho al 100% para que se ajuste al contenedor
            height: '100%', // Opcional: establece
            // closeOnSelect: false, // Opcional: permite mantener abierta la lista desplegable después de seleccionar un elemento
        });
        $('.id_permisosEditar').select2({
            placeholder: 'Selecciona el pedido',
            theme: "classic",
            width: '100%', // Opcional: establece el ancho al 100% para que se ajuste al contenedor
            // closeOnSelect: false, // Opcional: permite mantener abierta la lista desplegable después de seleccionar un elemento
        });
        $('.id_permisosEditar2').select2({
            placeholder: 'Selecciona el usuario',
            theme: "classic",
            width: '100%', // Opcional: establece el ancho al 100% para que se ajuste al contenedor
            // closeOnSelect: false, // Opcional: permite mantener abierta la lista desplegable después de seleccionar un elemento
        });
    });
</script>


<!-- Scripts de Bootstrap y DataTables -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2-theme-classic.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    // Agrega un evento de escucha al botón "Guardar" del formulario
    $('#modalCrearVenta').on('click', 'button[type="submit"]', function (event) {
        event.preventDefault();
        var formData = new FormData($('#modalCrearVenta form')[0]);
    
        fetch("{% url 'ventas:crear_venta' %}", {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Venta creada con éxito
                Swal.fire({
                    icon: 'success',
                    title: 'Éxito',
                    text: data.message
                }).then(() => {
                    // Redirigir a la lista de ventas
                    window.location.href = "{% url 'ventas:listar_ventas' %}";
                });
            } else {
                // Mostrar errores de validación o mensaje específico
                if (data.error_type === 'already_exists') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                } else if (data.error_type === 'invalid_discount') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                } else if (data.error_type === 'pedido_not_found') {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: data.message
                    });
                } else {
                    // Mostrar los errores de validación o excepción general
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        html: data.errors || data.message || 'Se produjo un error al procesar la solicitud.'
                    });
                }
            }
        })
        .catch(error => {
            // Captura de errores del lado del cliente (ej. errores de red)
            console.error('Error en la solicitud:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'Se produjo un error al enviar la solicitud. Por favor, inténtalo nuevamente.'
            });
        });
    });
</script>
    
<script>
    $(document).ready(function () {
        // Destruir la instancia actual, si existe
        if ($.fn.DataTable.isDataTable('#ventasTable')) {
            $('#ventasTable').DataTable().destroy();
        }

        // Configuración personalizada para DataTables
        var dataTableConfig = {
            "lengthChange": false,
            "pageLength": 5,
            "searching": true,
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrados de _MAX_ registros en total)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "dom": '<"top"lf>rt<"bottom"ip>',
        };

        // Inicializar DataTable con la configuración personalizada
        var table = $('#ventasTable').DataTable(dataTableConfig);

        // Mover el cuadro de búsqueda al lugar deseado
        $("#ventasTable_filter").detach().appendTo(".top");
        {% if "Crear Ventas" in request.session.permisos %}
        $(".top").append('<button type="button" class="btn btn-inverse-success btn-fw ml-2" data-toggle="modal" data-target="#modalCrearVenta" style="margin: 5px">Agregar Venta</button>');
        {% endif %}
        // También puedes personalizar el estilo del cuadro de búsqueda si es necesario
        $("#ventasTable_filter input").addClass("form-control form-control-sm");
    });

    $(document).ready(function () {
        $('#idPedido').change(function () {
            var idPedido = $(this).val();
            fetch("{% url 'ventas:obtener_total_pedido' 0 %}".replace('0', idPedido), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                },
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener la respuesta.');
                }
                return response.json();
            })
            .then(data => {
                var totalPedido = data.total_pedido;
                // Redondear el número al entero más cercano
                totalPedido = Math.round(totalPedido);
                // Mostrar el total del pedido en el input
                document.getElementById("id_total_pedido").value = totalPedido.toString();
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });

    function buscarPedido() {
        var idPedido = document.getElementById("idPedido").value;
        fetch("{% url 'ventas:obtener_total_pedido' 0 %}".replace('0', idPedido), {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al obtener la respuesta.');
                }
                return response.json();
            })
            .then(data => {
                var totalPedido = data.total_pedido;
                // Redondear el número al entero más cercano
                totalPedido = Math.round(totalPedido);
                // Mostrar el total del pedido en el input
                document.getElementById("id_total_pedido").value = totalPedido.toString();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    document.addEventListener('DOMContentLoaded', function () {
        const selectElement = document.getElementById('descuento_aumento_select');
        const inputElement = document.getElementById('descuento_aumento_input');
        const totalPedidoElement = document.getElementById('id_total_pedido');
        const totalElement = document.getElementById('id_total');

        function updateTotal() {
            const totalPedido = parseFloat(totalPedidoElement.value) || 0;
            const value = parseFloat(inputElement.value) || 0;
            const operation = selectElement.value;

            let newTotal;
            if (operation === 'descuento') {
                newTotal = totalPedido - value;
            } else if (operation === 'aumento') {
                newTotal = totalPedido + value;
            }

            // Redondear o truncar el nuevo total a número entero
            totalElement.value = Math.floor(newTotal); // Redondear hacia abajo
            // totalElement.value = parseInt(newTotal); // Truncar el valor decimal

            // Si quieres mostrar decimales en la interfaz pero no en el valor del campo, podrías usar:
            // totalElement.value = newTotal.toFixed(2); // Redondear a dos decimales y convertir a string
        }

        inputElement.addEventListener('input', updateTotal);
        selectElement.addEventListener('change', updateTotal);
    });

    $(document).ready(function () {
        $('#idUsuario').change(function () {
            var usuarioId = $(this).val();
            if (usuarioId) {
                fetch("{% url 'ventas:obtener_pedidos_usuario' 0 %}".replace('0', usuarioId), {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Error al obtener la respuesta.');
                        }
                        return response.json();
                    })
                    .then(data => {
                        var selectPedido = $('#idPedido');
                        selectPedido.empty(); // Limpiar las opciones actuales
                        selectPedido.append('<option value="">Seleccione un pedido</option>');
                        data.pedidos.forEach(pedido => {
                            var option = new Option(pedido.descripcion, pedido.idPedido);
                            selectPedido.append(option); // Agregar nuevas opciones
                        });
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            } else {
                $('#idPedido').empty();
            }
        });

        $('#modalCrearVenta').on('click', 'button[type="submit"]', function () {
            var metodoPago = $('#id_metodo_pago').val();
            var total = $('#id_total').val();
            var descuento = $('#id_descuento').val();
            if (metodoPago === '' || total === '' || descuento === '') {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Por favor completa todos los campos.'
                });
                return false;
            }
        });

        $('#modalCrearVenta').on('click', 'button[type="submit"]', function () {
            var total = parseFloat($('#id_total').val());
            var descuento = parseFloat($('#id_descuento').val());
            if (descuento > total) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'El descuento no puede ser mayor que el total.'
                });
                return false;
            }
        });
    });

    window.onload = function () {
        var campos = document.getElementById("campos_adicionales");
        var campos2 = document.getElementById("id_metodo_pago");
        var campos3 = document.getElementById("id_descuento");
        var campos4 = document.getElementById("id_total");
        campos.style.display = "block";
        campos2.style.display = "block";
        campos3.style.display = "block";
        campos4.style.display = "block";
    };
</script>


{% if not request.session.usuario_id %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";
</script>
{% elif "Listar Ventas" not in request.session.permisos %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";
</script>
{% endif %}



{% endblock %}