

<title>Listar Ventas</title>
{% extends 'layouts/navbar.html' %}

{% load humanize %}

{% load static %}

{% block content %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mis compras</h4>
                <div class="table-responsive">
                    <table id="ventasTable" class="table reserva-table" style="width: 100%;">
                        <thead>
                            <tr>
                                <th>Fecha de venta</th>
                                <th>Total de pedido</th>
                                <th>Total Final</th>
                                <th>Detalle compra</th>
                                <th>Acciones</th> <!-- Nueva columna para el botón -->

                            </tr>
                        </thead>
                        <tbody>
                            <!-- Aquí se generan las filas de la tabla con datos de ventas -->
                            {% for venta in ventas %}
                            <tr>
                                <td>{{ venta.fecha }}</td>
                                <td class="total-pedido" data-value="{{ venta.idPedido.total }}">${{ venta.idPedido.total|floatformat:0|intcomma }}</td>
                                <td class="total-final" data-value="{{ venta.total }}">${{ venta.total|floatformat:0|intcomma }}</td>
                                <td>
                                    <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#ventaModal{{ venta.id }}"><i class="mdi mdi-eye"></i></a>
                                </td>
                                <td>
                                    <a href="{% url 'ventas:generar_factura' idVenta=venta.idVenta %}" class="btn btn-info btn-sm">Generar Factura</a>
                                </td>
                            </tr>
                            <!-- Modal para cada venta -->
                            <div class="modal fade" id="ventaModal{{ venta.id }}" tabindex="-1" role="dialog" aria-labelledby="ventaModalLabel{{ venta.id }}" aria-hidden="true">
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ventaModalLabel{{ venta.id }}">Detalles de la Venta</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row w-100">
                                                <div class="col-md-5">
                                                    <p><strong>Fecha de Venta:</strong> {{ venta.fecha|date:"d M Y H:i" }}</p>
                                                    <p><strong>Metodo Pago:</strong> {{ venta.metodo_pago }}</p>
                                                </div>
                                                <div class="col-md-5">
                                                    <p><strong>Subtotal:</strong> ${{ venta.idPedido.total|floatformat:"0"|intcomma }}</p>
                                                    <p class="discount"><strong>Descuento:</strong> -${{ venta.descuento|floatformat:"0"|intcomma }}</p>
                                                </div>
                                                <div class="col-md-2">
                                                    <p class="final-total"><strong>Total:</strong> ${{ venta.total|floatformat:"0"|intcomma }}</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                {% if venta.idPedido.productos.count and venta.idPedido.servicios.count %}
                                                <!-- <div>
                                                <thead>
                                                    <tr>
                                                        <th><center>Img</center></th>
                                                        <th>Nombre</th>
                                                        <th>Cantidad</th>
                                                        <th>Subtotal</th>
                                                    </tr>
                                                </thead>
                                                </div> -->
                                                {% endif %}
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Scripts de Bootstrap y DataTables -->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2-theme-classic.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $(document).ready(function () {
        // Destruir la instancia actual, si existe
        if ($.fn.DataTable.isDataTable('#ventasTable')) {
            $('#ventasTable').DataTable().destroy();
        }

        // Configuración personalizada para DataTables
        var dataTableConfig = {
            "lengthChange": false,
            "pageLength": 5,
            "searching": true,
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrados de _MAX_ registros en total)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "dom": '<"top"lf>rt<"bottom"ip>',
        };

        // Inicializar DataTable con la configuración personalizada
        var table = $('#ventasTable').DataTable(dataTableConfig);

        // Mover el cuadro de búsqueda al lugar deseado
        $("#ventasTable_filter").detach().appendTo(".top");
        // También puedes personalizar el estilo del cuadro de búsqueda si es necesario
        $("#ventasTable_filter input").addClass("form-control form-control-sm");
    });
   
</script>


{% if not request.session.usuario_id %}
    <script>
        window.location.href = "{% url 'usuarios:requestLogin' %}";
    </script>
    {% elif "Listar Mis Ventas" not in request.session.permisos %}
    <script>
        window.location.href = "{% url 'usuarios:requestLogin' %}";
    </script>
{% endif %}



{% endblock %}