{% load static %}
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">
                    © 2024 Erika's HomeMade. Todos los derechos reservados.
                </p>
            </div>
            <div class="col-md-6 text-md-right">
                <p class="text-muted">
                    Hecho con <i class="ti-heart text-danger"></i> por Erika's HomeMade
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted text-center">Distribuido por Erika's HomeMade</p>
            </div>
        </div>
    </div>
</footer>
<!-- plugins:js -->
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script>
<script src="{% static 'js/dataTables.select.min.js' %}"></script>

<!-- End plugin js for this page -->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}"></script>
<script src="{% static 'js/template.js' %}"></script>
<script src="{% static 'js/settings.js' %}"></script>
<script src="{% static 'js/todolist.js' %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}"></script>
<script src="{% static 'js/Chart.roundedBarCharts.js' %}"></script>