<title>Listar Reservas</title>

{% extends 'layouts/navbar.html' %}
{% load static %}
{% block content %}
<!-- Estilos CSS -->
<link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
<!-- Plugin CSS -->
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}" />
<!-- Estilos propios -->
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
<!-- Bibliotecas JS -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
<script src="{% static 'js/reservas.js' %}"></script>
<!-- Fechas y horas-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- Contenido principal -->
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Reservas</h4>
                <div class="table-responsive">
                    <table id="reservaTable" class="table table-hover row-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Fecha Reserva</th>
                                <th>Estado</th>
                                <th>Descripcion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reserva in reservas %}
                            <tr>
                                <td>{{ reserva.usuario.nombre }}</td>
                                <td>
                                    <label class="badge badge-primary hover-cursor {% if 'Editar Mis Reservas' in request.session.permisos %}badge-info editarfechacita{% endif %}" data-reserva-id="{{ reserva.id }}">{{ reserva.fecha_cita }}</label>
                                </td>
                                <td>
                                    <label 
                                        class="badge badge-outline-primary hover-cursor {% if 'Editar Mis Reservas' in request.session.permisos %}badge-outline-info change-estado{% endif %}" 
                                        data-reserva-id="{{ reserva.id }}"
                                        {% if reserva.estado == 'Completada' or reserva.estado == 'Cancelada' %}style="pointer-events: none; color: grey;"{% endif %}
                                    >
                                        {{ reserva.estado }}
                                    </label>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        {% if 'Editar Reservas' in request.session.permisos %}
                                        <button type="button" class="btn btn-inverse-warning edit-reserva"
                                            data-toggle="modal" data-target="#editReservaModal{{ reserva.id }}"
                                            data-Reserva="{{ reserva.Reserva.id }}" data-fecha="{{ reserva.fecha }}"
                                            data-fecha-cita="{{ reserva.fecha_cita }}"
                                            data-descripcion="{{ reserva.descripcion }}"
                                            data-estado="{{ reserva.estado }}" data-reserva-id="{{ reserva.id }}">
                                            <i class="mdi mdi-pencil"></i>
                                        </button>
                                        {% endif %}
                                        {% if 'Eliminar Reservas' in request.session.permisos %}
                                        <button type="button" class="btn btn-inverse-danger delete-reserva"
                                            data-reserva-id="{{ reserva.id }}">
                                            <i class="mdi mdi-delete"></i>
                                        </button>
                                        {% endif %}
                                        {% if 'Eliminar Reservas' not in request.session.permisos and 'Editar Reservas' not in request.session.permisos %}
                                        <button type="button" class="btn btn-inverse-primary">
                                            <i class="bi bi-exclamation-circle"></i>
                                        </button>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <!-- Modal para editar Reserva -->
                            <div class="modal fade" id="editReservaModal{{ reserva.id }}" tabindex="-1" role="dialog"
                                aria-labelledby="editReservaModal{{ reserva.id }}Label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editReservaModal{{ reserva.id }}Label">Editar Reserva</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" onsubmit="EditarReservaxd('{{ reserva.id }}')" id="editarReservaform{{ reserva.id }}" class="forms-sample" data-Reserva-id="{{ Reserva.id }}">
                                                {% csrf_token %}
                                                <input type="hidden" name="Reserva_id" value="{{ reserva.id }}">
                                                <div class="form-group">
                                                    <label for="descripcion">Descripción</label>
                                                    <textarea class="form-control" id="descripcion" name="descripcion" rows="4" cols="40">{{ reserva.descripcion }}</textarea>
                                                </div>
                                                <!-- Botones -->
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-primary mr-2">Editar</button>
                                                        <button type="button" class="btn btn-light"
                                                            data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Crear reserva -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de Reserva</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="myForm" class="forms-sample" method="post" onsubmit="validateForm(event)">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="id_usuario">Usuario</label>
                                {{ form.usuario }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fecha_cita">Fecha y Hora de Cita</label>
                                <input type="text" id="fecha_cita" name="fecha_cita" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="descripcion">Descripción</label>
                                {{ form.descripcion }}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary mr-2">Registrar</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<script>
    $(document).ready(function () {
    $('#reservaTable').on('click', 'td .editarfechacita', function () {
        var reserva_id = $(this).data('reserva-id');
        var fecha_cita = $(this).text().trim();

        // Crear el campo de fecha y hora con Flatpickr
        var flatpickrInput = $('<input>').attr({
            type: 'text',
            id: 'swal-input1',
            class: 'swal2-input',
        });

        // Mostrar la alerta de SweetAlert para editar la fecha y hora
        Swal.fire({
            title: 'Editar Fecha y Hora de Cita',
            html: flatpickrInput[0],
            showCancelButton: true,
            confirmButtonText: 'Guardar',
            cancelButtonText: 'Cancelar',
            allowOutsideClick: false,
            preConfirm: () => {
                // Validar la fecha y hora seleccionada
                var nuevaFecha = flatpickrInput.val();
                var fechaCita = new Date(nuevaFecha);

                // Definir las horas límites
                const horaInicio = 8; // 8:00 AM
                const horaFin = 17; // 5:00 PM
                const horaReserva = fechaCita.getHours();
                const minutoReserva = fechaCita.getMinutes();

                if (isNaN(fechaCita.getTime())) {
                    Swal.showValidationMessage('Fecha y hora no válidas. Por favor, ingrese una fecha y hora correctas.');
                    return false;
                }

                if (horaReserva < horaInicio || horaReserva >= horaFin || (minutoReserva !== 0 && minutoReserva !== 30)) {
                    Swal.showValidationMessage('La hora debe estar entre las 8:00 AM y las 5:00 PM, y debe ser en intervalos de media hora (por ejemplo, 8:00, 8:30).');
                    return false;
                }

                return nuevaFecha;
            },
            didOpen: () => {
                // Inicializar Flatpickr en el campo de entrada
                flatpickr(flatpickrInput[0], {
                    enableTime: true,
                    dateFormat: 'Y-m-d H:i', // Formato de fecha y hora
                    minDate: "today",
                    minTime: "08:00",
                    maxTime: "17:00",
                    time_24hr: true,
                    minuteIncrement: 30,
                    defaultDate: fecha_cita
                });
            }
        }).then((result) => {
            if (result.isConfirmed) {
                // Obtener la nueva fecha y hora ingresada por el usuario
                var nueva_fecha = result.value;

                // Realizar la petición para actualizar la fecha y hora de la reserva
                fetch("{% url 'reservas:cambiar_fecha_reserva' %}", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    body: JSON.stringify({
                        'fecha_cita': nueva_fecha,
                        'reserva_id': reserva_id
                    }),
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Hubo un problema al cambiar la fecha de la reserva.');
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.success) {
                        // Mostrar una alerta de éxito
                        Swal.fire('¡Fecha y Hora cambiadas!', 'La fecha y hora de la reserva se han cambiado correctamente.', 'success').then(() => {
                            // Recargar la página o realizar alguna otra acción
                            location.reload();
                        });
                    } else {
                        // Mostrar una alerta de error si no se pudo cambiar la fecha y hora
                        Swal.fire('Error', 'Hubo un problema al cambiar la fecha y hora de la reserva. Por favor, inténtelo de nuevo más tarde.', 'error');
                    }
                })
                .catch(error => {
                    // Mostrar una alerta de error si hubo un problema con la petición
                    Swal.fire('Error', 'Hubo un problema al procesar su solicitud. Por favor, inténtelo de nuevo más tarde.', 'error');
                    console.error('Error:', error);
                });
            }
        });
    });

    $('#reservaTable').on('click', 'td .change-estado', function () {
    var reserva_id = $(this).data('reserva-id');
    var estado_actual = $(this).text().trim();

    // Verificar si el estado es "Completada" o "Cancelada"
    if (estado_actual === 'Completada' || estado_actual === 'Cancelada') {
        return;  // Salir de la función si no se permite la edición
    }

    console.log("ID de la reserva:", reserva_id);  // Imprime el ID de la reserva en la consola

    Swal.fire({
        title: '¿Estás seguro de cambiar el estado?',
        html: `
            <h3>Esta opción no es reversible</h3>
            <select id="estadoSelect" class="swal2-select">
                <option value="Pendiente" ${estado_actual === 'Pendiente' ? 'selected' : ''}>Pendiente</option>
                <option value="En proceso" ${estado_actual === 'En proceso' ? 'selected' : ''}>En proceso</option>
                <option value="Completada" ${estado_actual === 'Completada' ? 'selected' : ''}>Completada</option>
                <option value="Cancelada" ${estado_actual === 'Cancelada' ? 'selected' : ''}>Cancelada</option>
            </select>
        `,
        icon: 'info',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Cambiar',
        preConfirm: () => {
            var nuevoEstado = $('#estadoSelect').val();

            return fetch("{% url 'reservas:cambiar_estado_reserva' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({
                    'estado': nuevoEstado,
                    'reserva_id': reserva_id  // Añadir el ID de la reserva al cuerpo de la petición
                }),
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Hubo un problema al cambiar el estado.');
                }
                return response.json();
            })
            .catch(error => {
                Swal.showValidationMessage(`Request failed: ${error}`);
            });
        },
    }).then((result) => {
        if (result.isConfirmed) {
            Swal.fire('¡Estado cambiado!', 'El estado de la reserva se ha cambiado correctamente.', 'success').then(() => {
                location.reload();
            });
        }
    });
});


});

document.addEventListener('DOMContentLoaded', function() {
    // Inicializar Flatpickr en el campo de entrada
    flatpickr("#fecha_cita", {
        enableTime: true,
        dateFormat: 'Y-m-d H:i',
        minDate: "today",
        minTime: "08:00",
        maxTime: "17:00",
        time_24hr: true,
        minuteIncrement: 30
    });
});

function validateForm(event) {
    event.preventDefault();

    const form = document.getElementById('myForm');
    const fechaCitaInput = form.querySelector('input[name="fecha_cita"]');

    // Asegúrate de que la fecha y la hora se han combinado correctamente
    console.log("Fecha y hora combinadas:", fechaCitaInput.value);

    const formData = new FormData(form);

    fetch("{% url 'reservas:crear_reserva' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.success) {
            Swal.fire({
                title: '¡Registro exitoso!',
                text: 'La reserva se ha registrado correctamente.',
                icon: 'success',
                onClose: () => {
                    window.location.href = "{% url 'reservas:listar_reserva' %}";
                }
            }).then(() => {
                window.location.href = "{% url 'reservas:listar_reserva' %}";
            });
        } else if (data.message) {
            Swal.fire({
                title: 'Error',
                text: data.message,
                icon: 'error',
            });
        } else if (data.errors) {
            let errorMessage = "Hubo un error al procesar su solicitud:<br>";
            for (const key in data.errors) {
                errorMessage += `${data.errors[key]}<br>`;
            }
            Swal.fire({
                title: 'Error',
                html: errorMessage,
                icon: 'error',
            });
        } else {
            Swal.fire({
                title: 'Error',
                text: 'Hubo un error al procesar su solicitud. Por favor, revise los campos e inténtelo de nuevo.',
                icon: 'error'
            });
        }
    })
    .catch(errors => {
        Swal.fire({
            title: 'Error',
            text: 'Hubo un error al procesar su solicitud. Por favor, inténtelo de nuevo más tarde.',
            icon: 'error'
        });
        console.error('Error:', errors);
    });
}


    // Agregar evento clic para el botón edit-reserva
    $('.edit-reserva').on('click', function () {
        // Obtener la información de la reserva (ajusta esto según tu lógica)
        var reservaInfo = {
            Reserva: "Datos de Reserva",
            fecha: "Fecha de la Reserva",
            fecha_cita: "Fecha de la Cita",
            descripcion: "Descripción de la Reserva",
            estado: "Estado de la Reserva"
        };

        // Llenar la modal con la información de la reserva
        $('#editReservaModal #Reserva').val(reservaInfo.Reserva);
        $('#editReservaModal #fecha').val(reservaInfo.fecha);
        $('#editReservaModal #fecha_cita').val(reservaInfo.fecha_cita);
        $('#editReservaModal #descripcion').val(reservaInfo.descripcion);
        $('#editReservaModal #estado').val(reservaInfo.estado);

        // Mostrar la modal
        $('#editReservaModal').modal('show');
    });


    $(document).ready(function () {
        // Destruir la instancia actual, si existe
        if ($.fn.DataTable.isDataTable('#reservaTable')) {
            $('#reservaTable').DataTable().destroy();
        }

        // Configuración personalizada para DataTables
        var dataTableConfig = {
            // "pagingType": "full_numbers",
            "lengthChange": false,
            "pageLength": 5,
            "searching": true,
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrados de _MAX_ registros en total)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "dom": '<"top"lf>rt<"bottom"ip>',
        };

        // Inicializar DataTable con la configuración personalizada
        var table = $('#reservaTable').DataTable(dataTableConfig);

        // Mover el cuadro de búsqueda al lugar deseado
        $("#reservaTable_filter").detach().appendTo(".top");

        {% if 'Crear Reservas' in request.session.permisos %}
        // Mover el botón "Agregar" al lado del cuadro de búsqueda
        $(".top").append('<button type="button" class="btn btn-inverse-success btn-fw ml-2" data-toggle="modal" data-target="#myModal"  style="margin: 5px">Agregar</button>');
        {% endif %}
        // También puedes personalizar el estilo del cuadro de búsqueda si es necesario
        $("#reservaTable_filter input").addClass("form-control form-control-sm");

        // Puedes agregar más personalizaciones según tus necesidades



    });
    $(document).ready(function () {
    // Destruir la instancia actual, si existe
    if ($.fn.DataTable.isDataTable('#reservaTable')) {
        $('#reservaTable').DataTable().destroy();
    }

    // Configuración personalizada para DataTables
    var dataTableConfig = {
        // "pagingType": "full_numbers",
        "lengthChange": false,
        "pageLength": 5,
        "searching": true,
        "language": {
            "search": "Buscar:",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
            "infoEmpty": "Mostrando 0 a 0 de 0 registros",
            "infoFiltered": "(filtrados de _MAX_ registros en total)",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "dom": '<"top"lf>rt<"bottom"ip>',
    };

    // Inicializar DataTable con la configuración personalizada
    var table = $('#reservaTable').DataTable(dataTableConfig);

    // Mover el cuadro de búsqueda al lugar deseado
    $("#reservaTable_filter").detach().appendTo(".top");

    {% if 'Crear Reservas' in request.session.permisos %}
    // Mover el botón "Agregar" al lado del cuadro de búsqueda
    $(".top").append('<button type="button" class="btn btn-inverse-success btn-fw ml-2" data-toggle="modal" data-target="#myModal"  style="margin: 5px">Agregar</button>');
    {% endif %}

    // También puedes personalizar el estilo del cuadro de búsqueda si es necesario
    $("#reservaTable_filter input").addClass("form-control form-control-sm");

    // Puedes agregar más personalizaciones según tus necesidades
});

function EditarReservaxd(reservaId) {
    event.preventDefault();

    // Obtener el formulario
    const form = document.getElementById(`editarReservaform${reservaId}`);
    // Crear un objeto FormData para enviar los datos del formulario
    const formData = new FormData(form);

    // Realizar la solicitud POST utilizando fetch
    fetch("{% url 'reservas:editar_reserva' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        // Verificar si la solicitud fue exitosa
        if (data.success) {
            // Mostrar SweetAlert de éxito
            Swal.fire({
                title: '¡Actualización exitosa!',
                text: 'La descripción de la reserva se ha editado correctamente.',
                icon: 'success',
                onClose: () => {
                    // Recargar la página   
                    location.reload();
                }
            }).then(() => {
                location.reload();
            });
        } else if (data.errors) { // Verificar si hay errores de validación
            let errorMessage = "Hubo un error al procesar su solicitud:<br>";
            for (const key in data.errors) {
                errorMessage += `${data.errors[key]}<br>`;
            }
            Swal.fire({
                title: 'Error',
                html: errorMessage,
                icon: 'error',
            });
        } else { // Si no hay errores específicos de validación, mostrar un mensaje genérico de error
            Swal.fire({
                title: 'Error',
                text: 'Hubo un error al procesar su solicitud. Por favor, revise los campos e inténtelo de nuevo.',
                icon: 'error'
            });
        }
    })
    .catch(errors => {
        // Mostrar SweetAlert de error en caso de un fallo en la solicitud
        Swal.fire({
            title: 'Error',
            text: 'Hubo un error al procesar su solicitud. Por favor, inténtelo de nuevo más tarde.',
            icon: 'error'
        });
        console.error('Error:', errors);
    });
}



    // Función para eliminar un usuario
    function eliminarReserva(reserva_id) {
        // Realizar la solicitud POST utilizando fetch
        fetch("{% url 'reservas:eliminar_reserva' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({'reserva_id': reserva_id})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire('reserva eliminada correctamente').then(() => {
                        location.reload();
                    });
            } else {
                // Mostrar un mensaje de error si la eliminación falla
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error'
                });
            }
        })
        .catch(error => {
            // Mostrar un mensaje de error en caso de un fallo en la solicitud
            console.error('Error:', error);
            Swal.fire({
                title: 'Error',
                text: 'Hubo un error al intentar eliminar la reserva. Por favor, inténtelo de nuevo más tarde.',
                icon: 'error'
            });
        });
    }

    // Event listener para el botón de eliminar usuario
    document.querySelectorAll('.delete-reserva').forEach(button => {
        button.addEventListener('click', function() {
            const reservaId = this.getAttribute('data-reserva-id');
            var reserva_id = $(this).data('reserva-id');
            // Confirmar antes de eliminar
            Swal.fire({
                title: '¿Estás seguro?',
                // text: `Esta acción no se puede deshacer para el usuario con ID ${usuarioId}.`,
                text: `Esta acción no se puede deshacer`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    eliminarReserva(reservaId);
                }
            });
        });
    });
</script>
{% if not request.session.usuario_id %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% elif "Listar Reservas" not in request.session.permisos %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% endif %}
{% endblock %}