{% extends 'layouts/navbar.html' %}
{% load static %}
{% block content %}
<!-- Estilos CSS -->
<link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}" />
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
<script src="{% static 'js/reservas.js' %}"></script>

<!-- Contenido principal -->
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Mis Reservas</h4>
                <div class="table-responsive">
                    <table id="reservaTable" class="table table-hover row-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Usuario</th>
                                <th>Fecha Reserva</th>
                                <th>Descripción</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reserva in reservas %}
                            <tr>
                                <td>{{ reserva.usuario.nombre }}</td>
                                <td>{{ reserva.fecha_cita }}</td>
                                <td>{{ reserva.descripcion }}</td>
                                <td>{{ reserva.estado }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary cambiar-estado" data-reserva-id="{{ reserva.id }}">
                                        Cambiar Estado
                                    </button>
                                </td>                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if ($.fn.DataTable.isDataTable('#reservaTable')) {
            $('#reservaTable').DataTable().destroy();
        }

        var dataTableConfig = {
            "lengthChange": false,
            "pageLength": 5,
            "searching": true,
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrados de _MAX_ registros en total)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "dom": '<"top"lf>rt<"bottom"ip>',
        };

        $('#reservaTable').DataTable(dataTableConfig);
    });

    // Función para manejar el cambio de estado de la reserva
$(document).on('click', '.cambiar-estado', function() {
    const reservaId = $(this).data('reserva-id');
    
    // Mostrar SweetAlert de cambio de estado
    Swal.fire({
        title: 'Cambiar Estado',
        icon: 'info',
        html: '<select class="form-control" id="estadoReserva">' +
                '<option value="Pendiente">Pendiente</option>' +
                '<option value="En Proceso">En Proceso</option>' +
                '<option value="Completada">Completada</option>' +
              '</select>',
        showCancelButton: true,
        confirmButtonText: 'Cambiar',
        cancelButtonText: 'Cancelar',
        showLoaderOnConfirm: true,
        preConfirm: () => {
            const nuevoEstado = $('#estadoReserva').val();

            // Enviar la solicitud AJAX para cambiar el estado de la reserva
            return fetch(`/cambiar_estado_reserva/${reservaId}/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                body: JSON.stringify({ estado: nuevoEstado })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(response.statusText);
                }
                return response.json();
            })
            .catch(error => {
                Swal.showValidationMessage(`Hubo un error al cambiar el estado: ${error}`);
            });
        },
        allowOutsideClick: () => !Swal.isLoading()
    })
    .then(result => {
        if (result.isConfirmed) {
            Swal.fire('¡Estado cambiado!', 'El estado de la reserva ha sido actualizado.', 'success').then(() => {
                location.reload();
            });
        }
    });
});

</script>
{% if not request.session.usuario_id %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";
</script>
{% elif "Listar Mis Reservas" not in request.session.permisos %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";
</script>
{% endif %}
{% endblock %}
