<title>Crear Permiso</title>
{% extends 'layouts/navbarUsuarios.html' %}
{% block contentConfiguracion %}
<h1>Crear Nuevo Permiso</h1>
<form method="post">
    {% csrf_token %}
    {{ form.nombre_permiso }}
    {{ form.estado_permiso }}
    <button type="submit">Guardar</button>
</form>
{% if not request.session.usuario_id %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% elif request.session.id_rol != 1 %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% endif %}
{% endblock %}