<title>Eliminar Permiso</title>
{% extends 'layouts/navbarUsuarios.html' %}
{% block contentConfiguracion %}
<h1>¿Estás seguro que deseas eliminar el Permiso "{{ Permiso.nombre_permiso }}"?</h1>
<form method="post">
    {% csrf_token %}
    <button type="submit">Confirmar Eliminación</button>
</form>
{% if not request.session.usuario_id %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% elif request.session.id_rol != 1 %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% endif %}
{% endblock %}