<title>Listar Servicios</title>

{% extends 'layouts/navbar.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}" />
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Servicios</h4>
                <div class="table-responsive">
                    <table id="ServiciosTable" class="table table hover row-border" style="width:100%">
                        <thead>
                            <tr>
                                <th>Nombre del servicio</th>
                                <th>Tipo de servicio</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Estado catálogo</th>
                                <th>Detalles</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for servicio in servicios %}
                            <tr class="pedido-row">
                                <td>{{ servicio.nombre_servicio }}</td>
                                <td>{{ servicio.id_TipoServicio }}</td>
                                <td>${{ servicio.precio_servicio }}</td>
                                <td>
                                    {% if servicio.estado_servicio == 'A' %}
                                    <label class="badge btn-inverse-success hover-cursor {% if 'Editar Estado Servicio' in request.session.permisos %}change-status{% endif %}"
                                    data-servicio-id="{{ servicio.idServicio }}">Activo</label>
                                    {% else %}
                                    <label class="badge btn-inverse-danger hover-cursor {% if 'Editar Estado Servicio' in request.session.permisos %}change-status{% endif %}"
                                    data-servicio-id="{{ servicio.idServicio }}">Inactivo</label>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if servicio.estado_catalogo == 'A' %}
                                    <label class="badge btn-inverse-success hover-cursor {% if 'Editar Estado Servicio' in request.session.permisos %}change-status{% endif %}"
                                    data-usuario-id="{{ servicio.idServicio }}">Activo</label>
                                    {% else %}
                                    <label class="badge btn-inverse-danger hover-cursor {% if 'Editar Estado Servicio' in request.session.permisos %}change-status{% endif %}"
                                    data-usuario-id="{{ servicio.idServicio }}">Inactivo</label>
                                    {% endif %}
                                </td>
                                <td>
                                    <button type="button" class="badge btn-info hover-cursor" data-toggle="modal" data-target="#detalleServicioModal{{ servicio.idServicio }}">
                                        <i class="mdi mdi-eye"></i>
                                    </button>
                                </td>                                
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-inverse-warning edit-servicio"
                                        data-toggle="modal" data-target="#editpedidoModal{{ servicio.idServicio }}"
                                        data-servicio="{{ servicio.servicio.idServicio }}" 
                                        data-nombre="{{ servicio.nombre_servicio }}"
                                        data-Tservicio="{{ servicio.id_TipoServicio }}"
                                        data-precio="{{ servicio.precio_servicio }}"
                                        data-descripcion="{{ servicio.descripcion }}" 
                                        data-servicio-id="{{ servicio.idServicio }}">
                                        <i class="mdi mdi-pencil"></i>
                                        </button>
                                        
                                        <button type="button" class="btn btn-inverse-primary" data-servicio-id="{{ servicio.idServicio }}" data-toggle="modal" data-target="#editevidenciapedidoModal{{ servicio.idServicio }}">
                                            <i class="bi bi-file-earmark-image"></i>
                                        </button> 
                                        <button type="button" class="btn btn-inverse-danger delete-servicio" data-servicio-id="{{ servicio.idServicio }}">
                                            <i class="mdi mdi-delete"></i>
                                        </button> 
                                    </div>
                                </td>
                            </tr>

                            <!-- Modal Detalle del Pedido -->
                            <div class="modal fade" id="detalleServicioModal{{ servicio.idServicio }}" tabindex="-1" role="dialog" aria-labelledby="detalleServicioModal{{ servicio.idServicio }}Label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="detalleServicioModal{{ servicio.idServicio }}Label">Detalle del Servicio</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p><strong>Descripción:</strong> {{ servicio.descripcion }}</p>
                                            <p><strong>Imagen del servicio:</strong> <img src="{{ servicio.img.url }}" alt="Imagen " style="max-width: 100%; height: auto;"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                    
                            <!-- Modal para editar Pedido -->
                            <div class="modal fade" id="editPedidoModal{{ servicio.idServicio }}" tabindex="-1" role="dialog"
                                aria-labelledby="editPedidoModal{{ servicio.idServicio }}Label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPedidoModal{{ servicio.idServicio }}Label">Editar
                                                Servicio</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" onsubmit="EditarPedidoxd('{{ servicio.idServicio }}')" id="editarPedidoform{{ servicio.idServicio }}" class="forms-sample" data-Pedido-id="{{ servicio.idServicio }}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="hidden" name="servicio_id" value="{{ servicio.idServicio }}">
                                                <div class="form-row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="nombre">Nombre</label>
                                                            <input type="text" class="form-control" id="nombre"
                                                                 value="{{ servicio.nombre_servicio }}">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="precio">Precio</label>
                                                            <input type="text" class="form-control" id="precio"
                                                                 value="{{ servicio.precio_servicio }}">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="id_TipoServicio">Tipo de servicio</label>
                                                            <select name="id_TipoServicio" id="id_TipoServicio" class="form-control">
                                                                {% for tipo_servicio in tipo_servicios %}
                                                                <option value="{{ tipo_servicio.idTipo_Servicio }}" {% if tipo_servicio.idTipo_Servicio == servicio.id_TipoServicio.idTipo_Servicio %}selected{% endif %}>
                                                                    {{ tipo_servicio.nombre_tipoServicio }}
                                                                </option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        

                                                    </div>
                                                    <div class="form-row">
                                                        <div class="col-md-12">
                                                            <label for="descripcion">Descripción</label>
                                                            <textarea name="descripcion" class="form-control" id="descripcion" cols="1000" rows="5" value="{{ servicio.descripcion }}">{{ servicio.descripcion }}</textarea><br>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Botones -->
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-primary mr-2">Editar {{ servicio.idServicio }}</button>
                                                        <button type="button" class="btn btn-light"
                                                            data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="modal fade" id="editevidenciapedidoModal{{ servicio.idServicio }}" tabindex="-1" role="dialog"
                                aria-labelledby="editPedidoModal{{ servicio.idServicio }}Label" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editPedidoModal{{ servicio.idServicio }}Label">Editar Evidecia
                                                Pedido</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" onsubmit="EditarEvidenciaPedidoxd('{{ servicio.idServicio }}')" id="EditarEvidenciaForm{{ servicio.idServicio }}" class="forms-sample" data-Pedido-id="{{ servicio.idServicio }}" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <input type="hidden" name="pedido_id" value="{{ servicio.idServicio }}">
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <p><strong>Evidencia de Pago Actual:</strong> <img src="{{ pedido.evidencia_pago.url }}" alt="Evidencia de Pago" style="max-width: 100%; height: auto;"></p>
                                                        </div>
                                                        
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <input type="file" name="evidencia_pago" class="form-control-file evidencia_pago_input" accept="image/*" data-vista-previa="imagen_vista_previa_{{ servicio.idServicio }}">
                                                            <br>
                                                            <img src="#" id="imagen_vista_previa_{{ servicio.idServicio }}" alt="Vista previa de la imagen" style="display: none; max-width: 100%; height: auto;">
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- Botones -->
                                                <div class="form-row">
                                                    <div class="col-md-12">
                                                        <button class="btn btn-primary mr-2">Editar {{ servicio.idServicio }}</button>
                                                        <button type="button" class="btn btn-light"
                                                            data-dismiss="modal">Cancelar</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Destruir la instancia actual, si existe
        if ($.fn.DataTable.isDataTable('#TServiciosTable')) {
            $('#TServiciosTable').DataTable().destroy();
        }

        // Configuración personalizada para DataTables
        var dataTableConfig = {
            // "pagingType": "full_numbers",
            "lengthChange": false,
            "pageLength": 5,
            "searching": true,
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrados de _MAX_ registros en total)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "dom": '<"top"lf>rt<"bottom"ip>',
        };

        // Inicializar DataTable con la configuración personalizada
        var table = $('#TServiciosTable').DataTable(dataTableConfig);

        // Mover el cuadro de búsqueda al lugar deseado
        $("#TServiciosTable_filter").detach().appendTo(".top");

        // Mover el botón "Agregar" al lado del cuadro de búsqueda
        {% if "Crear Tipo Servicios" in request.session.permisos %}
        $(".top").append('<button type="button" class="btn btn-inverse-success btn-fw ml-2" data-toggle="modal" data-target="#myModal"  style="margin: 5px">Agregar</button>');
        {% endif %}
        // También puedes personalizar el estilo del cuadro de búsqueda si es necesario
        $("#TServiciosTable_filter input").addClass("form-control form-control-sm");

        // Puedes agregar más personalizaciones según tus necesidades



    });

    

</script>



{% if not request.session.usuario_id %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% elif "Listar Tipo Servicios" not in request.session.permisos %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% endif %}
{% endblock %}