.hero-servicios {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    position: relative;
    color: black;
    text-align: left;
    z-index: 1;
    margin-bottom: 2rem;
    /* Añadir margen inferior */
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='100' viewBox='0 0 200 100'%3E%3Cpath fill='%23CEF2EA' d='M0 30 Q 20 0 40 30 T 80 30 Q 100 60 120 30 T 160 30 Q 180 0 200 30 V 100 H 0 Z' /%3E%3C/svg%3E");
    background-size: cover;
    /* Ajuste para cubrir completamente el área sin repetir */
    background-repeat: no-repeat;
}


.hero-left,
.hero-right {
    flex: 1;
    padding: 1rem;
}

.hero-right {
    padding-left: 2rem;
}


.hero:nth-child(1) {
    background-color: #f8f9fa;
}

.hero:nth-child(2) {
    background-color: #e9ecef;
}

.hero:nth-child(3) {
    background-color: #dee2e6;
}

.hero:nth-child(4) {
    background-color: #ced4da;
}

.hero:nth-child(5) {
    background-color: #adb5bd;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* Cambiado */
    height: 100px;
    /* Ajusta la altura de las ondas */
    background-image: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #f0f0f0 50%, #f0f0f0 100%);
}