.thumbnail-size-1 {
    width: 310px !important;
    height: 585px !important;
    object-fit: cover;
    object-position: center;
}

.thumbnail-size-2 {
    width: 631px !important;
    height: 587px !important;
    object-fit: cover;
    object-position: center;
}

.thumbnail-size-3 {
    width: 311px !important;
    height: 289px !important;
    object-fit: cover;
    object-position: center;
}

.thumbnail-size-4 {
    width: 631px !important;
    height: 289px !important;
    object-fit: cover;
    object-position: center;
}

.thumbnail-size-5 {
    width: 311px !important;
    height: 289px !important;
    object-fit: cover;
    object-position: center;
}

.thumbnail-size-6 {
    width: 311px !important;
    height: 289px !important;
    object-fit: cover;
    object-position: center;
}

.thumbnail-size-7 {
    width: 311px !important;
    height: 289px !important;
    object-fit: cover;
    object-position: center;
}