<title>Editar Cuenta</title>
{% extends 'layouts/navbar.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'vendors/feather/feather.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}" />
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/ti-icons/css/themify-icons.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'js/select.dataTables.min.css' %}" />
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'css/vertical-layout-light/style.css' %}" />
<link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>


<!-- Contenido principal -->
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
                <div class="col-lg-6 mx-auto">
                    <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                        <div class="brand-logo">
                            <img src="{% static 'images/logo-lg.png' %}" alt="logo">
                        </div>
                        <h4>Hola, {{ request.session.nombre_usuario }}!</h4>
                        <!-- <h4>Hola, {{ request.session.estado }}!</h4> -->

                        <!-- <h4>Hola, {{ request.session.estado }}!</h4> -->
                        <!-- <h6 class="font-weight-light">Registrarse es fácil. Solo se necesitan unos pocos pasos</h6> -->
                        <form class="pt-3" method="post" onsubmit="EditarUsuarioxd('{{ usuario.id }}')" id="editarUsuarioForm{{ usuario.id }}" class="forms-sample" data-usuario-id="{{ usuario.id }}">
                            {% csrf_token %}
                            <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                            <input type="hidden" name="idRol" value="{{ usuario.idRol.id }}">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="Nombre" id="nombre" name="nombre" value="{{ usuario.nombre }}" >
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="telefono">Teléfono</label>
                                    <input type="tel" class="form-control form-control-lg" placeholder="Teléfono" id="telefono" name="telefono" value="{{ usuario.telefono }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="documento">Documento</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="Documento" id="documento" name="documento" value="{{ usuario.documento }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="correo">Correo</label>
                                    <input type="email" class="form-control form-control-lg" placeholder="Correo" id="correo" name="correo" value="{{ usuario.correo }}">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="usuario">Usuario</label>
                                    <input type="text" class="form-control form-control-lg" placeholder="Usuario" id="usuario" name="usuario" value="{{ usuario.usuario }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="usuario">Acciones</label><br>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <!-- <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Contraseña" value="{{ usuario.contraseña }}"> -->
                                        <button type="button" class="btn btn-inverse-primary btn-fw ml-1" data-toggle="modal" data-target="#EditarPerfil">Cambiar Contraseña</button>
                                        <button type="button" class="btn btn-inverse-info btn-fw ml-1" data-toggle="modal" data-target="#editarFotoUwU">
                                            <i class="bi bi-person-bounding-box"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            {% if 'Editar Rol Usuarios' in request.session.permisos and  request.session.usuario_id != 1%}
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="form-check">
                                        <!-- <label class="form-check-label text-muted"> -->
                                        <!-- <input type="checkbox" class="form-check-input"> -->
                                        <!-- <button type="button" class="btn btn-inverse-success btn-fw ml-2" data-toggle="modal" data-target="#EditarPerfil"  style="margin: 5px">Cambiar Contraseña</button> -->
                                        <!-- </label> -->
                                    </div>
                                    <div class="form-group">
                                        <label for="rol">Rol</label>
                                        <select class="form-control" id="rol" name="idRol">
                                            {% for rol in roles %}
                                            <option value="{{ rol.id }}" {% if usuario.idRol|lower == rol.nombre_rol|lower %} selected {% endif %}>{{ rol.nombre_rol }}</option>
                                            {% endfor %}
                                        </select>
                                    </div> 
                                </div>
                            </div>
                            {% endif %}
                            <div class="mt-3">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">
                                Editar
                                </button>
                            </div>
                            <div class="text-center mt-4 font-weight-light">
                                <span>¿Deseas Deshabilitar Tú cuenta?<a data-usuario-id="{{ usuario.id }}" href="#" class="text-primary"> Deshabilitar Mi Cuenta</a></span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
  
<!-- Fin del contenido principal -->


<!-- Modal Editar Contraseña -->
<div class="modal fade" id="EditarPerfil" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro de Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido del formulario con Bootstrap grid system -->
                <form id="myForm" class="forms-sample" method="post" onsubmit="validateForm()">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                                <label for="contrasena">Contraseña</label>
                                <input type="password" class="form-control form-control-lg" placeholder="contraseña" id="contraseña" name="contraseña">
                            </div>
                        </div>
                    </div>

                    <!-- Botones -->
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary mr-2">Editar</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Editar Foto de Perfil -->
<div class="modal fade" id="editarFotoUwU" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cambiar Foto de Perfil</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Contenido del formulario con Bootstrap grid system -->
                <form id="myFormPerfil" class="forms-sample" method="post" onsubmit="validateFormFotoPerfil()" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-md-12">
                            <input type="hidden" name="usuario_id" value="{{ usuario.id }}">
                            <div class="form-group">
                                <input type="file" name="img[]" class="file-upload-default">
                                <div class="input-group col-xs-12">
                                    <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                    <span class="input-group-append">
                                        <button class="file-upload-browse btn btn-primary" type="button">Subir</button>
                                    </span>
                                </div>
                            </div>
                            <div class="preview-container col-md-12">
                                <center><img id="image-preview" src="#" alt="Image Preview" style="display: none;"></center>
                            </div>
                            <br>
                        </div>                        
                    </div>

                    <!-- Botones -->
                    <div class="form-row">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary mr-2">Editar</button>
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<script>

    function validateForm() {
        // Evitar que el formulario se envíe automáticamente
        event.preventDefault();

        // Obtener el formulario
        const form = document.getElementById('myForm');

        // Crear un objeto FormData para enviar los datos del formulario
        const formData = new FormData(form);

        // Realizar la solicitud POST utilizando fetch
        fetch("{% url 'usuarios:editar_contraseña' %}", {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
            .then(response => response.json())
            .then(data => {
                // Verificar si la solicitud fue exitosa
                if (data.success) {
                    // Mostrar SweetAlert de éxito
                    Swal.fire({
                        title: '¡Registro exitoso!',
                        text: 'Contraseña Editada correctamente.',
                        icon: 'success',
                        onClose: () => {
                            // Recargar la página
                            location.reload();
                        }
                    }).then(() => {
                        location.reload();
                    });
                    //Swal.fire('Registro exitoso!', 'El usuario se ha registrado correctamente.', 'success').then(() => {
                    //location.reload();
                    //});
                } else if (data.message) { // Check if a message is provided in the response
                    Swal.fire({
                        title: 'Error',
                        text: data.message,
                        icon: 'error',
                    });
                } else if (data.errors) { // Verificar si hay errores de validación
                    let errorMessage = "Hubo un error al procesar su solicitud:<br>";
                    for (const key in data.errors) {
                        errorMessage += `${data.errors[key]}<br>`;
                    }
                    Swal.fire({
                        title: 'Error',
                        html: errorMessage,
                        icon: 'error',
                    });
                } else { // If no message is provided, show a generic error message
                    Swal.fire({
                        title: 'Error',
                        text: 'Hubo un error al procesar su solicitud. Por favor, revise los campos e inténtelo de nuevo.',
                        icon: 'error'
                    });
                }
            })
            .catch(errors => {
                // Mostrar SweetAlert de error en caso de un fallo en la solicitud
                Swal.fire({
                    title: 'Error',
                    text: 'Hubo un error al procesar su solicitud. Por favor, inténtelo de nuevo más tarde.',
                    icon: 'error'
                });
                console.error('Error:', errors);
            });
    }




    $(document).ready(function () {
        // Destruir la instancia actual, si existe
        if ($.fn.DataTable.isDataTable('#userTable')) {
            $('#userTable').DataTable().destroy();
        }

        // Configuración personalizada para DataTables
        var dataTableConfig = {
            // "pagingType": "full_numbers",
            "lengthChange": false,
            "pageLength": 5,
            "searching": true,
            "language": {
                "search": "Buscar:",
                "zeroRecords": "No se encontraron resultados",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ registros",
                "infoEmpty": "Mostrando 0 a 0 de 0 registros",
                "infoFiltered": "(filtrados de _MAX_ registros en total)",
                "paginate": {
                    "first": "Primero",
                    "last": "Último",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "dom": '<"top"lf>rt<"bottom"ip>',
        };

        // Inicializar DataTable con la configuración personalizada
        var table = $('#userTable').DataTable(dataTableConfig);

        // Mover el cuadro de búsqueda al lugar deseado
        $("#userTable_filter").detach().appendTo(".top");

        // Mover el botón "Agregar" al lado del cuadro de búsqueda
        {% if "Crear Usuarios" in request.session.permisos %}
        $(".top").append('<button type="button" class="btn btn-inverse-success btn-fw ml-2" data-toggle="modal" data-target="#myModal"  style="margin: 5px">Agregar</button>');
        {% endif %}
        // También puedes personalizar el estilo del cuadro de búsqueda si es necesario
        $("#userTable_filter input").addClass("form-control form-control-sm");

        // Puedes agregar más personalizaciones según tus necesidades



    });



    $(document).ready(function () {
        $('span a.text-primary').on('click', function (event) {
            event.preventDefault(); // Evitar el comportamiento predeterminado del enlace
            // Obtener el usuario ID
            var usuario_id = $(this).data('usuario-id');

            // Mostrar SweetAlert de confirmación
            Swal.fire({
                title: 'Deshabilitar Mi Cuenta',
                text: '¿Estás seguro de cambiar el estado? \nLuego de esto no podrás iniciar sesión',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, Deshabilitar Mi Cuenta'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Realizar la solicitud fetch para cambiar el estado del usuario
                    return fetch("{% url 'usuarios:cambiar_estado' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            'usuario_id': usuario_id,
                        }),
                    })
                    .then(data => {
                        if (!data.success) {
                            // Mostrar SweetAlert de error
                            Swal.fire({
                                title: '¡Error!',
                                text: 'No se puede Deshabilitar la cuenta de este usuario.',
                                icon: 'error',
                            });
                        } else {
                            // Mostrar SweetAlert de éxito
                            Swal.fire({
                                title: '¡Estado cambiado!',
                                text: 'El estado se ha cambiado correctamente. Cerrando su sesión',
                                icon: 'success',
                            }).then((result) => {
                                window.location.reload(); // Esto actualizará la página
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        // Mostrar SweetAlert de error en caso de problemas de red u otros errores
                        Swal.fire('¡Error!', 'Hubo un problema al cambiar el estado.', 'error');
                    });

                }
            });
        });





        $('#userTable').on('click', 'td .change-rol', function () {
            // Obtener la fila correspondiente
            var row = $(this).closest('tr');

            // Obtener el usuario ID
            var usuario_id = $(this).data('usuario-id');


            // Mostrar SweetAlert con el campo de selección y el token CSRF
            Swal.fire({
                title: 'Cambiar Rol',
                html: '<select id="rolSelect" class="form-control">' +
                    '{% for rol in roles %}' +
                    '<option value="{{ rol.id }}">{{ rol.nombre_rol }}</option>' +
                    '{% endfor %}' +
                    '</select>',
                icon: 'info',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Cambiar',
                preConfirm: () => {
                    // Obtener el valor seleccionado del select
                    var nuevoRol = $('#rolSelect').val();

                    // Enviar los datos a través de AJAX incluyendo el token CSRF
                    return fetch("{% url 'usuarios:cambiar_rol' %}", {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify({
                            'usuario_id': usuario_id,
                            'rol_id': nuevoRol,
                        }),
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Hubo un problema al cambiar el rol.');
                            }
                            return response.json();
                        })
                        .catch(error => {
                            Swal.showValidationMessage(`Request failed: ${error}`);
                        });
                },
            }).then((result) => {
                if (result.isConfirmed) {
                    // Obtener el valor seleccionado del select
                    var nuevoRol = $('#rolSelect').val();

                    // Actualizar el contenido del label con el nuevo rol
                    //row.find('.change-rol').text(nuevoRol);
                    // Mostrar SweetAlert de éxito
                    Swal.fire('¡Rol cambiado!', 'El rol se ha cambiado correctamente.', 'success').then(() => {
                        location.reload();
                    });
                }
            });
        });


        // Agregar evento clic para el botón edit-user
        $('.edit-user').on('click', function () {
            // Obtener la información del usuario (puedes ajustar esto según tu lógica)
            var userInfo = {
                nombre: "Datos de Usuario",
                documento: "Datos de Usuario",
                usuario: "Datos de Usuario",
                telefono: "Datos de Usuario",
                correo: "Datos@Usuario",
                rol: "trabajador"
            };

            // Llenar la modal con la información del usuario
            $('#editUserModal #nombre').val(userInfo.nombre);
            $('#editUserModal #documento').val(userInfo.documento);
            $('#editUserModal #usuario').val(userInfo.usuario);
            $('#editUserModal #telefono').val(userInfo.telefono);
            $('#editUserModal #correo').val(userInfo.correo);
            $('#editUserModal #rol').val(userInfo.rol);

            // Mostrar la modal
            $('#editUserModal').modal('show');
        });

        
    });
</script>
<script>
    // Función para eliminar un usuario
    function eliminarUsuario(usuario_id) {
        // Realizar la solicitud POST utilizando fetch
        fetch("{% url 'usuarios:eliminar_usuario' %}", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({'usuario_id': usuario_id})
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire({
                    title: 'Usuario Eliminado!',
                    text: data.message, 
                    icon: 'success'}).then(() => {
                        location.reload();
                    });
            } else {
                // Mostrar un mensaje de error si la eliminación falla
                Swal.fire({
                    title: 'Error',
                    text: data.message,
                    icon: 'error'
                });
            }
        })
        .catch(error => {
            // Mostrar un mensaje de error en caso de un fallo en la solicitud
            console.error('Error:', error);
            Swal.fire({
                title: 'Error',
                text: 'Hubo un error al intentar eliminar el usuario. Por favor, inténtelo de nuevo más tarde.',
                icon: 'error'
            });
        });
    }

    // Event listener para el botón de eliminar usuario
    document.querySelectorAll('.delete-user').forEach(button => {
        button.addEventListener('click', function() {
            const usuarioId = this.getAttribute('data-usuario-id');
            var usuario_id = $(this).data('usuario-id');
            // Confirmar antes de eliminar
            Swal.fire({
                title: '¿Estás seguro?',
                // text: `Esta acción no se puede deshacer para el usuario con ID ${usuarioId}.`,
                text: `Esta acción no se puede deshacer`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#3085d6',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    eliminarUsuario(usuarioId);
                }
            });
        });
    });
</script>



<script>
    function EditarUsuarioxd(idUsuarioxd) {
    event.preventDefault();

    // Obtener el formulario
    // const form = document.getElementById('editarUsuarioForm');
    const form = document.getElementById(`editarUsuarioForm${idUsuarioxd}`);

    // Crear un objeto FormData para enviar los datos del formulario
    const formData = new FormData(form);

    // Realizar la solicitud POST utilizando fetch
    fetch("{% url 'usuarios:editar_usuario' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        // Verificar si la solicitud fue exitosa
        if (data.success) {
            // Mostrar SweetAlert de éxito
            Swal.fire({
                title: '¡Actualización exitosa!',
                text: 'Los datos del usuario se han actualizado correctamente.',
                icon: 'success',
                onClose: () => {
                    // Recargar la página
                    location.reload();
                }
            }).then(() => {
                location.reload();
            });
        } else if (data.errors) { // Verificar si hay errores de validación
            let errorMessage = "Hubo un error al procesar su solicitud:<br>";
            for (const key in data.errors) {
                errorMessage += `${data.errors[key]}<br>`;
            }
            Swal.fire({
                title: 'Error',
                html: errorMessage,
                icon: 'error',
            });
        } else { // Si no hay errores específicos de validación, mostrar un mensaje genérico de error
            Swal.fire({
                title: 'Error',
                text: 'Hubo un error al procesar su solicitud. Por favor, revise los campos e inténtelo de nuevo.',
                icon: 'error'
            });
        }
    })
    .catch(errors => {
        // Mostrar SweetAlert de error en caso de un fallo en la solicitud
        Swal.fire({
            title: 'Error',
            text: 'Hubo un error al procesar su solicitud. Por favor, inténtelo de nuevo más tarde.',
            icon: 'error'
        });
        console.error('Error:', errors);
    });
}

function validateFormFotoPerfil() {
    event.preventDefault();

    const form = document.getElementById('myFormPerfil');
    const formData = new FormData(form);

    fetch("{% url 'usuarios:editar_foto_perfil' %}", {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}'
        }
    })
    .then(response => response.json())
    .then(data => {
        // Verificar si la solicitud fue exitosa
        if (data.success) {
            Swal.fire(
                '¡Foto de perfil actualizada!',
                'La foto de perfil se ha actualizado correctamente.',
                'success'
            ).then(() => {
                location.reload(); // Recargar la página
            });
        } else {
            // Mostrar SweetAlert de error
            Swal.fire({
                title: 'Error',
                text: data.message || 'Hubo un error al procesar su solicitud.',
                icon: 'error',
            });
        }
    })
    .catch(errors => {
        // Mostrar SweetAlert de error en caso de un fallo en la solicitud
        Swal.fire({
            title: 'Error',
            text: 'Hubo un error al procesar su solicitud. Por favor, inténtelo de nuevo más tarde.',
            icon: 'error'
        });
        console.error('Error:', errors);
    });
}


</script>


{% if not request.session.usuario_id %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% elif "Editar Perfil" not in request.session.permisos %}
<script>
    window.location.href = "{% url 'usuarios:requestLogin' %}";

</script>
{% endif %}

<!-- <script>
(function($) {
  'use strict';
  $(function() {
    $('.file-upload-browse').on('click', function() {
      var file = $(this).parent().parent().parent().find('.file-upload-default');
      file.trigger('click');
    });
    $('.file-upload-default').on('change', function() {
      $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
  });
})(jQuery);
</script> -->
<script>
(function($) {
    'use strict';
    $(function() {
    $('.file-upload-browse').on('click', function() {
        var file = $(this).parent().parent().parent().find('.file-upload-default');
        file.trigger('click');
    });
    $('.file-upload-default').on('change', function(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function(){
        var dataURL = reader.result;
        var img = document.getElementById('image-preview');
        img.src = dataURL;
        img.style.display = 'block';
        };
        reader.readAsDataURL(input.files[0]);
        $(this).parent().find('.form-control').val($(this).val().replace(/C:\\fakepath\\/i, ''));
    });
    });
})(jQuery);
</script>
    

<style>
    .top {
        min-width: 9px;
        display: flex;
        min-height: 50px;
        align-items: flex-end;
        justify-content: space-between;
    }

    .swal2-popup {
        min-height: 400px !important;
    }

    .swal2-select {
        width: 100%;
        margin: 10px 0;
        /* Puedes ajustar según sea necesario */

    }

    .table.dataTable.no-footer {
        border-bottom: none
    }
</style>
<style>
.preview-container {
    margin-top: 10px;
}

#image-preview {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
}
</style>

{% endblock %}