<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Permisos</title>
</head>

<body>

    {% extends 'layouts/navbarUsuarios.html' %}

    {% block content %}

    <a href="{% url 'usuarios:crear_permiso' %}">Crear Nuevo Permiso</a>
    <h1>Listado de Permisos</h1>
    <ul>
        {% for permiso in permisos %}
        <li>{{ permiso.nombre_permiso }} - <a href="{% url 'usuarios:editar_permiso' permiso.id %}">Editar</a>
            <a href="#" onclick="confirmarEliminar('{{ permiso.id }}')">Eliminar</a>
        </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home:index' %}">Atrás</a>

    <script>
        function confirmarEliminar(permisoId) {
            if (confirm('¿Estás seguro que deseas eliminar este permiso?')) {
                eliminarPermiso(permisoId);
            }
        }

        function eliminarPermiso(permisoId) {
            fetch('/configuracion/eliminar_permiso/' + permisoId + '/', {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    // Eliminación exitosa
                    location.reload(); // Recargar la página
                } else {
                    // Manejar errores de eliminación si es necesario
                    console.error('Error al eliminar el permiso');
                }
            })
            .catch(error => {
                console.error('Error de red:', error);
            });
        }
    </script>

    {% endblock %}
</body>

</html>
